					<div class="mb-3">
						<h1 class="h3 d-inline align-middle">Administradores</h1>
					</div>

					<div class="row">
						<div class="col-xl-8">
							<div class="card">
								<div class="card-header pb-0">
									<div class="card-actions float-end">
										<div class="dropdown show">
											<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
												<i class="align-middle" data-feather="more-horizontal"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-end">
												<%= link_to "Nuevo", new_admin_path, class: 'dropdown-item' %>
												<%= link_to "Buscar", nil, class: 'dropdown-item', id: 'gd-do-search' %>
											</div>
										</div>
									</div>
									<h5 class="card-title mb-0">Lista de administradores del portal</h5>
								</div>

								<div class="card-body">
									<table class="table table-hover" style="width:100%">
										<thead>
											<tr>
												<th><%= icon('id') %><%= sortable 'id', 'Id' %></i></th>
												<th><%= icon('text') %><%= sortable 'email', 'Email' %></th>
												<th><%= icon('text') %>Acciones</th>
											</tr>
										</thead>
										<tbody>
                      					<% @admins.each do |admin| %>
											<tr>
												<td><%= admin.id %></td>
												<td><%= admin.email %></td>
												<td class="table-action">
                                                    <%= link_to admin_path(admin.id)  do %>
                                                        <i class="align-middle" data-feather="eye"></i>
                                                    <% end %>
                                                    <%= link_to edit_admin_path(admin)  do %>
                                                        <i class="align-middle" data-feather="edit-2"></i>
                                                    <% end %>
                                                    <%= link_to admin_path(admin.id), method: :delete, data: { confirm: 'Estás seguro?' } do %>
                                                    <i class="align-middle" data-feather="trash"></i>
                                                    <% end %>
                        						</td>
											</tr>
                      					<% end %>
										</tbody>
									</table>

									<div class="row">
										<div class="col-sm-12 col-md-5">
											<div class="dataTables_info" id="datatables-column-search-text-inputs_info" role="status" aria-live="polite">
												<%== pagy_info @pagy %>
											</div>
										</div>
										<div class="col-sm-12 col-md-7">
											<div class="dataTables_paginate paging_simple_numbers" id="datatables-column-search-text-inputs_paginate">
												<%== pagy_bootstrap_nav @pagy %>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

					<%= button_to(new_admin_path, class: 'btn btn-primary btn-lg', remote: false, method: :get) do %>
						<i class="fas fa-fw fa-plus"></i> Nuevo
					<% end %>

					<script>
						$( document ).ready(function() {

							const search = $('#gd-search-container');

							$( "#gd-search-close" ).click(function() {
								search.hide(350);
							});

							$( "#gd-do-search" ).click(function( event ) {
								search.show(350);
								event.preventDefault();
							});

						});

						<% if params[:q] && params[:q][:searchable_content_cont] %>
							$('#q_searchable_content_cont').val('<%= params[:q][:searchable_content_cont] %>');
						<% end %>

					</script>
