<div class="mb-3">
						<h1 class="h3 d-inline align-middle">Codigos</h1>
					</div>
<div class="row">
						<div class="col-xl-6">
							<div class="card">
								<div class="card-body">

									<table class="table table-hover table-striped table-sm mt-2 mb-6">
										<tbody>
											<tr>
												<th><%= icon('id') %>Id</th>
												<td><%= @code.id %></td>
											</tr>
											<tr>
												<th><%= icon('text') %>Valor</th>
												<td><%= @code.value %></td>
											</tr>
                                            <tr>
												<th><%= icon('text') %>Producto</th>
												<td><%= @code.product.name %></td>
											</tr>
											
								
										</tbody>
									</table>

								</div>
							</div>
						</div> 

         	</div>     

          <%= link_to(codes_path, class: 'btn btn-primary btn-lg') do %>
            <i class="fas fa-fw fa-arrow-left"></i> Volver a la lista
          <% end %>

          <%= link_to(edit_code_path(@code), class: 'btn btn-primary btn-lg') do %>
            <i class="fas fa-fw fa-pen"></i> Editar
          <% end %>