					<div class="mb-3">
						<h1 class="h3 d-inline align-middle">Llamadas a la API.</h1>
						<%= @baseURL %>
					</div>

					<div class="row">
						<div class="col-xl-12">
							<div class="card">
								<div class="card-header pb-0">
									<div class="card-actions float-end">
										<div class="dropdown show">
											<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
												<i class="align-middle" data-feather="more-horizontal"></i>
											</a>

											<div class="dropdown-menu dropdown-menu-end">
												<%= link_to "Descargar CSV", api_calls_path(format: :csv), class: 'dropdown-item' %>
												<%= link_to "Buscar", nil, class: 'dropdown-item', id: 'gd-do-search' %>
											</div>
										</div>
									</div>
									<h5 class="card-title mb-0">Lista de llamadas a la API</h5>
								</div>

								<div id="gd-search-container" class="card-header pb-0 gd-admin-search<%= " gd-display-" if !params[:commit] %>">

									<%= search_form_for @q,  class: 'row row-cols-md-auto align-items-center' do |f| %>

										<div class="col-12">
											<%= f.label :searchable_content_cont, class: 'visually-hidden' %>
											<%= f.search_field :searchable_content_cont, autofocus:true, class: 'form-control mb-2 me-sm-2' %>
											<%= f.date_field :created_at_gteq%>
												<span>~</span>
											<%= f.date_field :created_at_lteq%>

										</div>

										<div class="col-12">
											<%= f.submit 'Buscar', class: 'btn btn-primary mb-2' %>
											<i id="gd-search-close" class="fas fa-fw fa-window-close ms-2"></i>
										</div>

									<% end %>

								</div>

								<div class="table-responsive">
									<table class="table table-hover" style="width:100%">
										<thead>
											<tr>
											<th rowspan='2' class='gd-vertical-middle'><%= icon('id') %>Id</th>
											<th rowspan='2' class='gd-vertical-middle'><%= icon('date') %>Fecha y hora</th>
											<th rowspan='2' class='gd-vertical-middle'><%= icon('link') %>URL</th>
											<th colspan='3' class='text-center'><%= icon('id') %>Respuesta</th>
											<th rowspan='2' class='gd-vertical-middle'><%= icon('text') %>Acciones</th>
											</tr>
											<tr>
												<th><%= icon('clock') %>Tiempo <span class='gd-small-text'>ms</span></th>
												<th><%= icon('code') %>Respuesta</th>
												<th><%= icon('scale') %>Tamaño <span class='gd-small-text'>b</span></th></th>
											</tr>
										</thead>
										<tbody>
             							<% @api_calls.each do |api_call| %>
											<tr>
												<td><%= api_call.id %></td>
												<td><%= py_date(api_call.created_at) %></td>
												<td><%= api_call_origin(api_call) + " " + api_call_method(api_call) + " " + api_call.url %></td>
												<td class='text-end'><%= api_call.response_time %></td>
												<td class='text-center'><%= api_call_response_code(api_call) %></td>
												<td class='text-end'><%= api_call.response_size %></td>
												<td class="table-action text-center">
													<%= link_to api_call  do %>
														<i class="align-middle" data-feather="eye"></i>
													<% end %>
												</td>
											</tr>
                      					<% end %>
										</tbody>
									</table>

									<div class="row">
										<div class="col-sm-12 col-md-5">
											<div class="dataTables_info" id="datatables-column-search-text-inputs_info" role="status" aria-live="polite">
												<%= page_entries_info @api_calls %>
											</div>
										</div>
										<div class="col-sm-12 col-md-7">
											<div class="dataTables_paginate paging_simple_numbers" id="datatables-column-search-text-inputs_paginate">
												<%= paginate @api_calls %>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

					<script>
						$( document ).ready(function() {
							////////console.log( "ready!2" );
							//////console.log( '' );

							const search = $('#gd-search-container');

							$( "#gd-search-close" ).click(function() {
								//////console.log( "Search will close." );
								search.show(350);
							});

							$( "#gd-do-search" ).click(function( event ) {
								//////console.log( "Search will open." );
								search.show(350);
								event.preventDefault();
							});

						});

						<% if params[:q] && params[:q][:searchable_content_cont] %>
							$('#q_searchable_content_cont').val('<%= params[:q][:searchable_content_cont] %>');
						<% end %>

					</script>